@model Cool_Co_Fridge_Management.Models.MaintenanceRequest

@{
    ViewData["Title"] = "Details";
}

<h2>Booking Details</h2>

<div>
    <h4>Maintenance Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Booking ID</dt>
        <dd class="col-sm-10">@Model.BookingID</dd>

        <dt class="col-sm-2">Customer Name</dt>
        <dd class="col-sm-10">@Model.User.FirstName @Model.User.LastName</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Requested Date</dt>
        <dd class="col-sm-10">@Model.RequestedDate.ToString("g")</dd>

        <dt class="col-sm-2">Approval Status</dt>
        <dd class="col-sm-10">
            @if (Model.IsApprovedByTechnician)
            {
                <span class="text-success">Approved</span>
            }
            else
            {
                <span class="text-warning">Pending</span>
            }
        </dd>

        <dt class="col-sm-2">Fault Description</dt>
        <dd class="col-sm-10">@Model.FaultDescription</dd>
    </dl>

    @if (Model.IsApprovedByTechnician && Model.UserConfirmationStatus == "Pending")
    {
        <div>
            <h4>Customer Actions</h4>
            <p>Would you like to confirm or cancel this booking?</p>

            <form asp-action="UserConfirmation" method="post">
                <input type="hidden" asp-for="BookingID" />
                <button type="submit" name="action" value="Confirm" class="btn btn-success">Confirm Booking</button>
                <button type="submit" name="action" value="Cancel" class="btn btn-danger">Cancel Booking</button>
            </form>
        </div>
    }
    else if (Model.UserConfirmationStatus == "Confirmed")
    {
        <p class="text-success">You have confirmed this booking.</p>
    }
    else if (Model.UserConfirmationStatus == "Cancelled")
    {
        <p class="text-danger">You have canceled this booking.</p>
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
