@model Cool_Co_Fridge_Management.Models.MaintenanceRequest

@{
    ViewData["Title"] = "Reject";
}

<h2>Reject Maintenance Request</h2>

<div>
    <h4>Are you sure you want to reject this maintenance request?</h4>
    <dl class="row">
        <dt class="col-sm-2">Customer Name</dt>
        <dd class="col-sm-10">@Model.FirstName @Model.LastName</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Requested Date</dt>
        <dd class="col-sm-10">@Model.RequestedDate.ToString("g")</dd>
    </dl>

    <form asp-action="Reject" method="post">
        <input type="hidden" name="bookingId" value="@Model.BookingID" />
        <button type="submit" class="btn btn-danger">Reject</button>
        <a asp-action="Approve" class="btn btn-secondary">Cancel</a>
    </form>
</div>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
