@model IEnumerable<Cool_Co_Fridge_Management.Models.FridgeFault>

@{
    ViewData["Title"] = "Approve Fault Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>REPORTED FRIDGE FAULTS</h1>
        </div>
    </div>
</div>
<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.faultType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.faultType.FaultTypeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedOn)
            </td>
                <td style="color:greenyellow">
                @Html.DisplayFor(modelItem => item.status.StatusDesc)
            </td>
            <td>
                <a asp-action="ApproveFault" asp-route-id="@item.FridgeFaultID">Approve Fault</a>@*  |
                <a asp-action="RejectFault" asp-route-id="@item.FridgeFaultID">Reject Fault</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="FaultTechIndex">Back</a>
</div>
