@model Cool_Co_Fridge_Management.Models.FridgeFault

@{
    ViewData["Title"] = "Beyond Repair Condition Update";
}



<h1>Details</h1>

<form asp-action="BeyondRepairFridgeCondition" method="post">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.faultType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.faultType.FaultTypeDesc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReportedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReportedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RepairDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RepairDate)
            </dd>
        </dl>
    </div>
    <div>
        <input type="submit" value="Update To Beyond Repair" class="btn btn-primary" /> |
        <a class="btn btn-danger" asp-action="FridgeConditionIndex">Back to List</a>
    </div>
</form>