@model IEnumerable<Cool_Co_Fridge_Management.Models.FridgeFault>

@{
    ViewData["Title"] = "Schedule Repair";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>REPAIR SCHEDULE</h1>
        </div>
    </div>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.faultType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.faultType.FaultTypeDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportedOn)
                </td>
                <td style="color:green">
                    @Html.DisplayFor(modelItem => item.status.StatusDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepairDate)
                </td>
                <td>
                    <a asp-action="ScheduleRepair" asp-route-id="@item.FridgeFaultID">Schedule Repair</a>
                </td>
            </tr>
        }
    </tbody>
</table>
