@model Cool_Co_Fridge_Management.Models.FridgeFault

@{
    ViewData["Title"] = "Schedule Repair";
}

@* <h1>Details</h1>

<form asp-action="ScheduleRepair" method="post">
    <div>
        <h4>FridgeFault</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.faultType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.faultType.FaultTypeDesc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReportedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReportedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.status.StatusDesc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RepairDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RepairDate)
            </dd>
        </dl>
    </div>
    <div>
        <input type="submit" value="Schedule Repair" class="btn btn-primary" /> |
        <a class="btn btn-danger" asp-action="ScheduleRepairIndex">Back to List</a>
    </div>
</form> *@


<h1>Edit</h1>

<h4>FridgeFault</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ScheduleRepair">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FridgeFaultID" />
            <div class="form-group">
                <label asp-for="FaultTypeID" class="control-label"></label>
                <select asp-for="FaultTypeID" class="form-control" asp-items="ViewBag.FaultTypeID" disabled></select>
                <span asp-validation-for="FaultTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportedOn" class="control-label"></label>
                <input asp-for="ReportedOn" class="form-control" disabled/>
                <span asp-validation-for="ReportedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusID" class="control-label"></label>
                <select asp-for="StatusID" class="form-control" asp-items="ViewBag.StatusID" disabled></select>
                <span asp-validation-for="StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairDate" class="control-label"></label>
                <input asp-for="RepairDate" class="form-control" type="date" />
                <span asp-validation-for="RepairDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}